extends layout

block content
 h1 #{title}

 form(method='POST', action="/articles/edit/'+article._id")
    #form-group
    label Title:
     input.form-control(name='title', type='text',value=article.title)

     #form-group
      label Author:
      input.form-control(name='author', type='text',required,value=article.author,)
    
     #form-group
      label Body:
      .md-form.amber-textarea.active-amber-textarea-2
      textarea#form16.md-textarea.form-control(rows='2' name='body')=article.body
      br
      br
    input.btn.btn-success(type='submit',value='Update')